@{
    ViewData["Title"] = Model.ProductName;
}
<div class="jumbotron">
    <form action="/shoppingcart/add/@Model.Id" method="post">
        <h1>@Model.ProductName</h1>
        <h2>@Model.ProductDescription</h2>
        <select name="quantity" id="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <input type="submit" value="Add to cart">
        <hr />
        <h3>Price: @Model.ProductPrice $</h3>
        <h3>
            @if (Model.ProductOutOfStock)
            {
                <span class="label label-danger">Out of stock</span>
            }
            else
            {
                <span class="label label-success">@Model.ProductInventory item(s) left in stock.</span>
            }
        </h3>
        <h4>
            Shipping: @Model.ProductShippingOptions
        </h4>
        <hr />
        <h4>Product #@Model.Id</h4>
    </form>
</div>
